In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [3]:
cdf = spark.read.csv('/dataframe/a_class_info.csv', header=True)
cdf.printSchema()
cdf.show(3)

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

복잡한 연산도 해보자

#### case 1. 소속된 반의 개수가 2개 이상인 학교들 중 학생 숫자가 가장 적은 학교를 구해보자

In [1]:
#case 1. 소속된 반의 개수가 2개 이상인 학교들 중 학생 숫자가 가장 적은 학교를 구해보자

In [2]:
# from절 subquery : inline view

#### case2. 소속된 반의 개수가 2개 이상인 학교들 중 학생 숫자가 가장 적은 학교보다 학생이 많은 반의 데이터를 구하시오

In [3]:
# case2. 소속된 반의 개수가 2개 이상인 학교들 중 학생 숫자가 가장 적은 학교보다
# 학생이 많은 반의 데이터를 구하시오

In [4]:
# where절 subquery

#### case 3. 소속된 반의 개수가 3개 미만인 학교들 중 학생 숫자가 가장 많은 학교보다, <br> 학생 숫자가 더 적으면서 소속된 반의 개수가 3개 이상인 학교를 구하시오

In [5]:
# 소속된 반의 개수가 3개 미만인 학교들 중 학생 숫자가 가장 많은 학교보다
# 학생 숫자가 더 적으면서 소속된 반의 개수가 3개 이상인 학교를 구하시오

#### sql

In [6]:
# having절 subquery 
# 소속된 반의 개수가 3개 미만인 학교들 중 학생 숫자가 가장 많은 학교보다
# 학생 숫자가 더 적으면서 소속된 반의 개수가 3개 이상인 학교를 구하시오

#### case 4. 도시 지역의 공립학교에서 일반 교육을 진행하는 반의 평균 인원수보다, <br>더 많은 학생이 소속된 교외 지역의 사립학교에서 특수 교육을 진행하는 반을 구하시오

- 도시 지역의 공립학교에서 일반 교육을 진행하는 반의 평균 인원수는 올림처리 합니다.

In [7]:
# 도시 지역의 공립학교에서 일반 교육을 진행하는 반의 평균 인원수보다 
# 더 많은 학생이 소속된 교외 지역의 사립학교에서 특수 교육을 진행하는 반을 구하시오

# 도시 지역의 공립학교에서 일반 교육을 진행하는 반의 평균 인원수는 올림처리 합니다.

#### case 4 sql

In [8]:
# 도시 지역의 공립학교에서 일반 교육을 진행하는 반의 평균 인원수보다 
# 더 많은 학생이 소속된 교외 지역의 사립학교에서 특수 교육을 진행하는 반을 구하시오

# 도시 지역의 공립학교에서 일반 교육을 진행하는 반의 평균 인원수는 올림처리 합니다.